*
{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}
body
{
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
